body{
  font-family: "IRANSANS";
  box-sizing: border-box;
  background-color: #080710ef;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
* {
  margin: 0;
  padding: 0;
}
button > a{
    text-decoration: none;
    color: #fff;
}
/* start log-in styles */
input , button{
    border:none ;
    font-family: inherit;
    outline: none;
}
.wrapper{
    width: 280px;
    height: 380px;
    position: relative;
    margin-top: 6rem;
}
.shape{
    width: 180px;
    height: 180px;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}
.shape-one{
    background: linear-gradient(90deg,#e65100ee ,#ffa826e1);
    top: -80px;
    left: -150px;
}
.shape-two{
    background: linear-gradient(#0d47a1,#42a5f5);
    bottom: -170px;
    right: -85px;
}
.form{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255 , 0.13);
    color: #fff;
    padding: 50px 35px 35px 35px;
    border: 2px solid rgba(255, 166, 0, 0.589);
    border-radius: 10px;
    box-sizing: 0 0 40px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}
.form-title{
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
    margin-bottom:30px ;
    color: orange;
    font-family: sans-serif;
}
.form-input__wrapper{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.form-label{
    font-size: 16px;
    width: 300px;
    position: absolute;
    margin-bottom: 57px;
    margin-right: 16px;
}
.form-input{
    font-size:14px ;
    font-weight: 300;
    display:block;
    height: 40px;
    background-color: rgba(255,255,255 , 0.15);
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
    color: #fff;
    margin-top: 20px;
}
.parent-btn__form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.paragraph-title{
    text-align: center;
}
.form-btn{
    font-size: 17px;
    background-color: rgba(255,255,255 , 0.15);
    color: #fff;
    border-radius:5px ;
    padding: 9px 38px;
    display: block;
    cursor: pointer;
    border: 2px solid rgba(255, 166, 0, 0.596);
    transition-duration: 1s;
    margin-top: 10px;
}
.form-btn:hover{
    background-color: orange;
    box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
}
/* finish log-in styles */
/* start sign-in styles */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sigin{
    width: 280px;
    height: 350px;
}
.square{
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    animation: rotate 8s linear infinite;
    border-radius: 10px;
}
.square-one{
    background: linear-gradient(#0d47a1,#42a5f5);
    top: -70px;
    left: -150px;
}
.square-two{
    background: linear-gradient(90deg,#e65100ee ,#ffa826e1);
    bottom: -160px;
    right: -65px;
}
.square-three{
    background: linear-gradient(90deg,#ff0202ee ,#b30000e1);
    top: 160px;
    right: 100px;
}
.go-login,
.go-signin{
    display: flex;
    font-size: 15px;
}
.go-login>a,
.go-signin>a{
    padding-right: 5px;
    color: #fff;
}
.sign-in-btn__form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.sign-in-btn{
    font-size: 17px;
    background-color: rgba(255,255,255 , 0.15);
    color: #fff;
    border-radius:5px ;
    padding: 9px 38px;
    display: block;
    cursor: pointer;
    border: 2px solid rgba(255, 166, 0, 0.596);
    transition-duration: 1s;
    margin-top: 25px;
}
.sign-in-btn:hover{
    background-color: orange;
    box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
}
/* start sign-in styles */