body{
    font-family: "IRANSANS";
}

ul{
    list-style: none;
}

nav {
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 75rem;
    height: 5rem;
    justify-self: center;
    border-radius: 15px;
    background-color: #333;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    top: 18px;
    box-shadow: 15px 12px 30px #00000063;
    z-index: 1;
}

.menu {
    display: flex;
    align-items: center;
}

nav > h1{
    font-size: 30px;
    color: #fff;
    margin-left: -480px;
    margin-top: 16.5px;
}

.icon-nav{
    font-size: 30px;
    margin-top: 25px;
    color: orange;
}

.menu > li:hover > a:hover{
    margin-bottom: 10px;
    margin-left: 5px;
    display: block;
    transition: 0.4s;
}

.menu > li > a {
    color: #fff;
    padding: 0.4rem;
    font-size: 17px;
    margin: 0.5rem;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 3px;
}

.menu > li > a:hover {
    background-color: orange;
<<<<<<< HEAD
    border-radius: 5px;
    transition: 0.4s;
=======
    border-radius: 10px;
    transition: 1.2s;
    box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
>>>>>>> 7b9594e5352cb68f7f506533f731b91308851fba
}


/* .menu > li > a > div{
    transition: 0.4s;
    position: absolute;
    top: 150px;
    right: 315px;
    height: 150px;
    width: 150px;
    z-index:99 ;
    background: #484848;
    opacity: 0;
    visibility: hidden;
}
.menu > li:hover > a:hover > div{
    top: 90px;
    opacity: 1;
    visibility: visible;
    border-top: 3px solid orange;
} */

.main-header__dropdown{
    position: absolute;
    top: 4rem;
    left: 0;
    right: 333px;
    transition: all 200ms ease-in-out;
    background-color: #333333e4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 10rem;
    z-index: 99;
    padding: 1rem 0;
    border-bottom: 4px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;
    border: 2px solid orange;
    height: 90px;
    flex-wrap: wrap;
}

.main-header__item:hover .main-header__dropdown{
    opacity: 1;
    visibility: visible;
    top: 6.5rem;
}

.main-header__dropdown-link{
    display: block;
    padding: 0.6rem 2rem;
    color: #fff;
    transition: all 400ms ease;
    text-decoration: none;
}

.main-header__dropdown-item{
    border-bottom: 2px solid orange;
    margin-top: -15px;
    height: 80%;
}

.main-header__dropdown-item:hover{
    background-color: #333333f9;
}

.second-child{
    border-bottom: none;
    margin-top: 0px;
    height: 79%;
}
