/* start Navbar styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IRANSANS";
  height: 100%;
}

ul {
  list-style: none;
  direction: rtl;
}

a {
  text-decoration: none;
  color: white;
}

#nav {
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  width: 75rem;
  height: 5rem;
  justify-self: center;
  border-radius: 15px;
  background-color: #333;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  top: 17.5px;
  z-index: 1;
}

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.name-hotel {
  display: flex;
  margin-bottom: 20px;
}

.name-hotel>.h1-nav {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
  margin-top: 16px;
}

.icon-nav {
  font-size: 30px;
  margin-top: 25px;
  color: orange;
}

.menu>li:hover>a:hover {
  /* margin-bottom: 10px; */
  margin-left: 5px;
  display: block;
  transition: 0.4s;
}

.menu>li>a {
  color: #fff;
  padding: 0.4rem;
  font-size: 17px;
  margin: 0.5rem;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 3px;
}

.menu>li>a:hover {
  background-color: orange;
  border-radius: 10px;
  transition: 1.2s;
  box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
}

.authentication,
.authentication-signup {
  position: absolute;
  top: 15px;
  left: 50px;
  display: flex;
  width: 140px;
  padding: 10px;
  background-color: orange;
  border-radius: 8px;
  transition-duration: 0.85s;
  z-index: 1;
}

.authentication-signup {
  z-index: 0;
}
.hidden{
  display: none;
  opacity: 0;
}

.text-authentication {
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.authentication-user {
  min-width: 140px;
  max-width: 250px;
}

.authentication:hover,
.authentication-signup:hover {
  background-color: rgb(255, 136, 0);
}

.icon-authentication,
.icon-authentication-user {
  color: #fff;
  padding-top: 5px;
}

.icon-authentication-user {
  transition-duration: 0.85s;
}

.authentication-user>.icon-authentication-user.rotate {
  transform: rotate(-180deg);
}


.profile {
  min-width: 180px;
  max-width: 240px;
  height: 100px;
  text-align: center;
  border-radius: 5px;
  background-color: #333;
  color: orange;
  border: 2px solid orange;
  position: absolute;
  top: 100px;
  left: 90px;
  z-index: 3;
  transition: all 400ms ease-in-out;
}

.authentication-user :hover>.profile {
  display: block;

}

.second-child {
  border-bottom: none;
  margin-top: 0px;
  height: 79%;
}

@media screen and (max-width: 480px) {
  #nav {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
  }

  .name-hotel {
    margin-bottom: 0;
    margin-left: auto;
  }

  .name-hotel>.h1-nav {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .icon-nav {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .authentication-container {
    display: flex;
    gap: 0.5rem;
  }


  .authentication,
  .authentication-signup,
  .authentication-user {
    width: auto;
    padding: 0.5rem;
    margin: 0;
    left: 0;
  }

  /* منو در پایین */
  .menu {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .menu>li>a {
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    margin: 0.2rem;
  }

  /* پروفایل در موبایل */
  .profile {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #nav {
    width: 95%;
    padding: 1rem 2rem;
    height: auto;
    margin-bottom: 20px;
  }

  .menu {
    width: auto;
    margin: 0;
  }

  .menu>li>a {
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
  }

  .name-hotel{
    margin-left: auto;
  }

  .name-hotel>.h1-nav {
    font-size: 1.5rem;
  }


  .authentication,
  .authentication-signup,
  .authentication-user {
    width: auto;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  nav {
    width: 95%;
    height: auto;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-hotel {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0 0 0.5rem auto;
  }

  .icon-nav {
    font-size: 28px;
    margin-top: 5px;
    margin-right: 8px;
  }

  .name-hotel>.h1-nav {
    font-size: 1.4rem;
    margin-top: 8px;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }

  .menu>li>a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
  }
}
