* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "IRANSANS";
  height: 100%;
}
ul{
  list-style: none;
  direction: rtl;
}
a{
  text-decoration: none;
}
nav{
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 75rem;
    height: 5rem;
    justify-self: center;
    border-radius: 15px;
    background-color: #333;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    top: 18px;
    box-shadow: 15px 12px 30px #00000063;
    z-index: 1;
}
.menu {
    display: flex;
    align-items: center;
}
#nav > .h1-nav{
    font-size: 30px;
    color: #fff;
    margin-left: 30px;
    margin-top: 16px;
}
.icon-nav{
    font-size: 30px;
    margin-top: 25px;
    margin-left: -340px;
    color: orange;
}
.menu > li:hover > a:hover{
    margin-bottom: 10px;
    margin-left: 5px;
    display: block;
    transition: 0.4s;
}
.menu > li > a {
    color: #fff;
    padding: 0.4rem;
    font-size: 17px;
    margin: 0.5rem;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 3px;
}
.menu > li > a:hover {
    background-color: orange;
    border-radius: 10px;
    transition: 1.2s;
    box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
}
.main-header__dropdown{
    position: absolute;
    top: 4rem; 
    transition: all 200ms ease-in-out;
    background-color: #333333e4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 8rem;
    z-index: 99;
    padding: 1rem 0;
    border-bottom: 4px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;
    border: 2px solid orange;
    height: 90px;
    flex-wrap: nowrap;
    text-align: center;
}
.main-header__item:hover .main-header__dropdown{
    opacity: 1;
    visibility: visible;
    top: 6.5rem;
}
.main-header__dropdown-link{
    display: block;
    padding: 0.6rem 2rem;
    color: #fff;
    transition: all 400ms ease;
    text-decoration: none;
}
.main-header__dropdown-item{
    border-bottom: 2px solid orange;
    margin-top: -15px;
    height: 80%;
    transition-duration: 0.7s;
}
.main-header__dropdown-item:hover{
    background-color: #252525f9;
}

.no-hover:hover > a {
    background-color: orange;
    border-radius: 10px;
    transition: 1.2s;
    box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
}

.second-child{
    border-bottom: none;
    margin-top: 0px;
    height: 79%;
}