body{
    font-family: "IRANSANS";
}
ul{
    list-style: none;
}
nav {
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 75rem;
    height: 5rem;
    justify-self: center;
    border-radius: 15px;
    background-color: #333;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    top: 18px;
    box-shadow: 15px 12px 30px #00000063;
    z-index: 1;
}
.menu {
    display: flex;
    align-items: center;
}
nav > h1{
    font-size: 25px;
    color: #fff;
    margin-left: 40px;
    margin-top: 13px;
}
.icon-nav{
    color: orange;
}
.menu > li:hover:not("no-hover") > a:hover{
    margin-bottom: 20px;
    display: block;
    transition: 1.2s;
}
.menu > li > a {
    color: #fff;
    padding: 0.4rem;
    font-size: 17px;
    margin: 0.3rem;
    text-decoration: none;
    transition: 1.2s;
}
.menu > li > a:hover {
    background-color: orange;
    border-radius: 10px;
    transition: 1.2s;
    box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
}
.menu > li > a > div{
    transition: 0.4s;
    position: absolute;
    top: 150px;
    right: 315px;
    height: 150px;
    width: 150px;
    z-index:99 ;
    background: #484848;
    opacity: 0;
    visibility: hidden;
}
.menu > li:hover > a:hover > div{
    top: 90px;
    opacity: 1;
    visibility: visible;
    border-top: 3px solid orange;
}