* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    direction: rtl;
}

.div-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 75rem;
    justify-self: center;
    border-radius: 15px;
    height: 339px;
    color: #fff;
    text-align: center;
    padding: 100px; 
    background: url(../images/restuarant-bg.jpg) center center / cover;
}
.first-h1 {
    color: orange;
}

.box-content {
    width: 75.5rem;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}
.box-content__right{
    margin-left: auto;
    margin-right: auto;
}
.box-content__left{
    margin-left: auto;
    margin-right: auto;
}

.box-content__right,
.box-content__left
{
    width: 37rem;
    height: auto;
    text-align: center;
    margin-top: 25px ;
    margin-bottom: 25px ;
    border-radius: 15px;
    border: 3px solid rgba(255, 166, 0, 0.836);
    background-color: #333;
}

.box-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-sub>h2 {
    padding: 5px;
    color: orange;
}

.btn-box {
    display: block;
    width: 165px;
    height: 55px;
    margin: 10px 0 30px 0;
    padding-right: 50px;
    color: #fff;
    border: 1px solid orange;
    padding: 10px 25px;
    transition-duration: 0.7s;
    border-radius: 5px;
    text-align: center;
    justify-items: center;
}

.icon-box {
    padding-top: 9px;
    padding-right: 10px;
    transition-duration: 0.7s;
}

.btn-box:hover .icon-box {
    padding-right: 0px;
}

.btn-box:hover {
    background-color: orange;
    box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.76);
}

.box-sub>p {
    padding: 20px 10px;
    color: #cdcdcf;
}

.img-box {
    width: 585px;
    height: 373px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.div-coffe__shop{
    background: url('../images/pexels-chevanon-302899.jpg') center center/cover;
    width: 75rem;
    height: 500px;
    margin:15px auto 0 auto ;
    border-radius: 1rem;
    display:flex;
}
.div-coffe__shop>.div-coffe__container{
    border-radius: 1rem;
    width: 75rem;
    height: 500px;
    background-image: linear-gradient(90deg , #000000da, #00000090);
}
.div-coffe__content{
    margin-top: 10rem;
    text-align: center;
}
.div-coffe__content> p,h2{
    color: #fff;
}
.content-coffe__shop{
    width: 75rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1.2rem;
    margin: 25px auto;
}
.image-coffe__shop{
    width: 380px;
    height: 263px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.item-coffe__shop{
    background-color: #333;
    width: 380px;
    border-radius: 15px;
}
.item-coffe__shop > h2{
    color: orange;
    text-align: center;
    padding: 10px;
}
.item-coffe__shop > p{
    color: #cdcdcf;
    text-align: center;
    padding: 7px 15px;
}