* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IRANSANS";
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.content-subject {
  text-align: center;
  margin: 40px auto 25px auto;
  background-color: #333333e0;
  border-radius: 15px;
  width: 75rem;
  box-shadow: 15px 12px 30px #00000063;
  border: 3px solid rgba(255, 166, 0, 0.836);
}
.content-subject > h2 {
  color: orange;
  padding: 15px;
}
.paragraph-subject {
  display: flex;
  justify-content: space-evenly;
  color: #a7a7a7;
}
.paragraph-subject > p {
  padding: 15px;
}

.item-box {
  background-color: #333;
  text-align: center;
  margin: 0;
  border-radius: 15px;
  height: 480px;
  width: 390px;
  box-shadow: 15px 12px 20px #00000063;
  border: 3px solid rgba(255, 166, 0, 0.836);
}
.box-item__top,
.box-item__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  gap: 1rem;
}
.item-box > img {
  width: 384px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item-box > h2 {
  color: orange;
  padding: 5px;
}
.item-box > p {
  color: #a7a7a7;
  padding: 10px;
}
.swiper{
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 75rem;
  height: 400px;
  position: absolute;
  box-shadow: 15px 12px 30px #00000063;
  background-color: #333;
  color: #fff;
}
.swiper-slide {   
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.swiper-slide > img {
  margin-top: 55px;
  margin-right: 100px;
  width: 374px;
  height: 290px;
  object-fit: cover;
  border-radius: 15px;
}
.swiper-slide > h1{
  color: orange;
  margin-right: 740px;
  margin-top: -300px;
}
.swiper-slide > p{
  max-width: 540px;
  margin-right: 560px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
}
.swiper-pagination-bullet {
  background: white;
  opacity: 0.8;
}
.content-advantage{
  width: 75rem;
  margin: 3rem auto;
}
.top-item,
.bottom-item{
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
} 
.top-item{
  border-bottom: 2px solid orange;
  padding-bottom: 20px;
}
.item-advantage{
  height: 260px;
  width: 390px;
  margin: 0.5rem;
  padding: 25px;
  text-align: center;
  border-left: 2px solid orange;
}
.border-none{
  border: none;
}
.item-advantage > p{
  color: #333;
}
.item-advantage > h2{
  color: #000;
}
.icon-advantage{
  font-size: 50px;
  color: orange;
}