* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "IRANSANS";
  height: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.after::after,
.after::before{
  background-color: #a7a7a7a2;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  margin: 0 10px;
  width: 30%;
}

.swiper{
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 75rem;
  height: 540px;
  position: absolute;
  box-shadow: 15px 12px 30px #00000063;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  background: white;
  opacity: 0.8;
}
.branchs{
  width: 75rem;
  height: 1385px;
  justify-self: center;
  border-radius: 15px;
  background: url('../images/pexels-deeanacreates-2565222.jpg')no-repeat center center/cover;
  margin: 15px auto 25px auto;
}
.background-div{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg , #00000090, #00000090);
  border-radius: 15px;
}
.background-div > .branchs-children > img{
  margin-top: 70px;
  margin-right: 46rem;
  border-radius: 15px;

}
.background-div > .first-branch > h1{
  color: white;
  margin-top: -591px;
  font-size:30px;
  margin-right: 40px;
}
.background-div > .second-branch > h1{
  color: white;
  margin-top: -591px;
  font-size:30px;
  margin-right: 40px;
}
.background-div > .second-branch > img{
  margin-right: 48.2rem;
  margin-top: 180px;
}
.h1-color-orange{
  color: orange;
}
.first-branch-p{
  color: white;
  width: 600px;
  margin-top: 10px;
  margin-right: 40px;
}
.second-branch-p{
  color: white;
  width: 650px;
  margin-top: 10px;
  margin-right: 40px;
}
.section-title{
  margin: 50px;
}
.section-title{
  text-align: center;
  font-size: 30px;
  color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-gallery__top,
.image-gallery__bottom{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}
.image-gallery__top>img,
.image-gallery__bottom>img{
  border-radius:15px;
  width: 410px;
  transition-duration: 0.8s;
  box-shadow: 15px 12px 20px #00000063;
}
.image-gallery__top>img:hover,
.image-gallery__bottom>img:hover{
  transform: translateY(7px);
}
.event-box__title{
  text-align: center;
  font-size: 30px;
  color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}
.event-box__content{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 30px;
}
.event-box__item{
  background-color: #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 5px;
  border: 2px solid orange;
  border-radius: 15px;
  box-shadow: 15px 12px 30px #00000063;
}
.event-box__item>h3{
  color: #fff;
}
.event-box__item>p{
  color: #fff;
}
.event-box__item>h3{
  margin: 8px 0;
}
.event-box__image{
  width: 375px;
  border-radius:15px;
}
.event-box__btn{
  border: 2px solid orange;
  color: #fff;
  padding: 5px 18px;
  margin: 8px;
  border-radius: 10px;
  transition-duration: 1s;
}
.event-box__btn:hover{
  background-color: orange;
  box-shadow: 5px 4px 15px rgba(255, 166, 0, 0.575);
  transition-duration: 1s;
}
