body {
    background-color: #000;
    font-family: "IRANSANS";
    box-sizing: border-box;
    /* overflow-y: hidden; */
}

input,
button {
    border: none;
    font-family: inherit;
    outline: none;
}

.container-form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 380px;
    height: 380px;
    position: relative;
    justify-self: center;
    margin-right: 5px;
}

.form {
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #fff;
    padding: 50px 35px 35px 35px;
    border: 2px solid orange;
    border-radius: 10px;
    box-sizing: 0 0 40px rgba(0, 0, 0, 0.5);
}
.form {
  position: relative;
}

.form::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  background: linear-gradient(45deg, #ff8c00, #ff4500, #ff8c00);
  z-index: -1;
  filter: blur(8px);
  opacity: 0.7;
} 
.form-title {
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
    color: orange;
    font-family: sans-serif;
}

.form-input__wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.form-label {
    font-size: 16px;
    width: 300px;
    position: absolute;
    margin-bottom: 57px;
    margin-right: 16px;
}

.form-input {
    font-size: 14px;
    font-weight: 300;
    display: block;
    height: 40px;
    background-color: #000;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
    color: #fff;
    margin-top: 20px;
}
input::placeholder{
    color: #fff;
}
.btn-form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    border: none;
}
.Edit-profile-btn{
    background-color: orange;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    width: 125px;
    transition-duration: 0.85s;
    cursor: pointer;
}
.Edit-profile-btn:hover{
    background-color: rgb(255, 115, 0);
}
.reset-btn{
    font-size: 0.8rem;
    padding: 10px 15px;
    width: 125px;
    border: 1px solid orange;
    border-radius: 5px;
    transition-duration: 0.85s;
    cursor: pointer;
}
.reset-btn:hover{
    background-color: #363636;
}